<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<div id="header">
<%= render("shared/navbar") %>
</div>

<div id="body" class="container">
	  <%= render("shared/flash") %>
	  <%= render("shared/page_header") %>

	 <%= yield %>
</div>

<div id="footer">
  <%= render("shared/footer") %>
</div>

<% parent_layout "base" %>
