
<div class="container">

<h4>Contact</h4>
<p>Feel free to reach out to us if you have a question, want to get involved or require some work done.</p>

</div>

<br>

<div class="row container">

  <div class="col-md-6">
  <div class="card">
      <h5 class="card-header">
        <%= fa_icon :at %> Email
      </h5>
    <div class="card-body">
      <a href="mailto:info@micrantha.com">info@micrantha.com</a>
    </div>
  </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">
        <%= fa_icon :slack, :type => :fab %> Slack
      </h5>
    <div class="card-body">
      <a href="https://micrantha.slack.com">micrantha.slack.com</a>
    </div>
    </div>
  </div>

</div>
<br>
<div class="row container">

  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">
        <%= fa_icon :keyboard %> IRC
      </h5>
    <div class="card-body">
      #micrantha on <%= link_to :freenode, "https://freenode.net/" %> via <%= link_to "irc.micrantha.com", "https://irc.micrantha.com" %>
    </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">
        <%= fa_icon "git-alt", :type => :fab %> Git
      </h5>
    <div class="card-body">
      <a href="https://git.micrantha.com">git.micrantha.com</a>
    </div>
    </div>
  </div>
</div>

